In [4]:
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [6]:
dataset = pd.read_csv("grossing2017-2011.csv")

In [22]:
renda = dataset[['renda','estreia']]#renda por data de estreia

In [74]:
da = pd.DataFrame(data=renda)
da['estreia'] = pd.to_datetime(da['estreia'])#dava pra alterar o formato da data por aqui

In [75]:
da.set_index('estreia').resample('M').sum()#arrecadação por mês

                                                        renda
estreia
2010-03-31                           2.309.512,001.978.887,00
2010-04-30                                                  0
2010-05-31                                                  0
2010-06-30                                                  0
2010-07-31                                                  0
2010-08-31                                                  0
2010-09-30                                                  0
2010-10-31                                       6.990.311,00
2010-11-30                                       1.411.195,00
2010-12-31  1.145.152,005.091.253,002.571.327,0027.742.269,00
2011-01-31  4.542.499,003.838.960,001.536.707,0035.702.341...
2011-02-28  11.477.386,005.365.545,002.849.462,002.542.312...
2011-03-31  24.259.032,007.030.580,005.539.860,003.416.678...
2011-04-30  14.375.200,009.363.696,001.726.525,0019.283.90...
2011-05-31  52.086.283,004.590.963,001.481.326,001.258.504...
2011-06-30  33.341.446,0013.174.850,001.165.636,0033.654.9...
2011-07-31  39.599.363,008.893.277,006.149.221,004.765.881...
2011-08-31  68.834.186,0028.362.645,00816.404,0017.139.367...
2011-09-30  4.710.831,004.233.595,0010.572.324,0035.933.42...
2011-10-31  31.176.508,0010.746.359,001.103.209,003.080.25...
2011-11-30  11.349.158,006.428.000,003.559.511,00655.414,0...
2011-12-31  4.434.921,003.651.628,0016.359.920,00678.858,0...
2012-01-31  24.934.913,00757.899,0024.722.380,002.909.397,...
2012-02-29  9.691.735,002.512.849,002.039.497,001.872.447,...
2012-03-31  10.675.989,005.847.407,002.973.998,001.940.067...
2012-04-30  3.978.776,002.409.761,002.047.703,009.713.721,...
2012-05-31  34.781.667,0030.998.210,0010.210.717,002.574.2...
2012-06-30  41.998.360,009.285.641,003.089.761,0018.554.91...
2012-07-31  58.645.093,003.094.205,001.044.559,0011.917.94...
2012-08-31  11.647.393,007.219.106,003.312.139,001.674.793...
...                                                       ...
2015-11-30       90700000148262062923300851783025556001395510
2015-12-31  8757060036946101017750966105164662007080200607...
2016-01-31                                                  0
2016-02-29                                                  0
2016-03-31                                                  0
2016-04-30                                                  0
2016-05-31                                                  0
2016-06-30                                                  0
2016-07-31                                                  0
2016-08-31                                             986151
2016-09-30                                                  0
2016-10-31                                                  0
2016-11-30                                                  0
2016-12-31  8870690153565089279600151612001269040363914016...
2017-01-31  1097000002493910115648023583800196019005614830...
2017-02-28  2093610066125803357880151020093525491226300157...
2017-03-31  4303240043513701300980001585100015189800461940...
2017-04-30  2981190264963014437401106340133420000533041011...
2017-05-31  7161070022344200205899014040102113100017090700...
2017-06-30  7471270020854100233877010268600087634807995480...
2017-07-31  6206100021702400434991052893500345549004271480...
2017-08-31  4743210022486801579060405661002049130162946012...
2017-09-30  6657060019787000293493001237020119904024269308...
2017-10-31  7825960180681015936401539770112263014327700318...
2017-11-30  9602300127753012036601312180002180170619812094...
2017-12-31  3269550068184501370580086335606794380930632532...
2018-01-31                                                  0
2018-02-28                                                  0
2018-03-31                                                  0
2018-04-30                                            3452600

[98 rows x 1 columns]

In [3]:
dataset.head()

,colocação,título_brasileiro,título_original,distribuidora,renda,publico,salas_abertura,estreia
0,1,Velozes e furiosos 8,The Fate of the Furious,Universal,133420000,8504737,1512,2017-04-13
1,2,Liga da Justiça,Justice league,Warner,131218000,8416544,1582,2017-11-16
2,3,A Bela e a Fera,Beauty and the Beast,Disney,130098000,8309801,1399,2017-03-16
3,4,Meu malvado favorito 3,Despicable me 3,Universal,126007000,8996130,1319,2017-06-29
4,5,Mulher-Maravilha,Wonder Woman,Warner,109700000,7053736,1287,2017-01-06

## Pytrends

In [4]:
from pytrends.request import TrendReq

In [5]:
pytrends = TrendReq(hl='en-US', tz=360) #CONECTANDO COM O GOOGLE

In [6]:
movies = dataset.iloc[:,1]
movies.head()

0      Velozes e furiosos 8
1           Liga da Justiça
2           A Bela e a Fera
3    Meu malvado favorito 3
4          Mulher-Maravilha
Name: título_brasileiro, dtype: object

In [7]:
def sixMonthsEarlier(releaseDay):
    data = datetime.date.fromisoformat(releaseDay)
    sixMonthsAgo = datetime.timedelta(days=180)
    return str(data - sixMonthsAgo)

def getTimeFrame(i):
    to_tf = dataset.loc[i,'estreia']
    from_tf =  sixMonthsEarlier(to_tf)
    tf = str(from_tf +' '+ to_tf)
    tf = str(from_tf + " " + to_tf)
    return tf

In [8]:
#kw_list = movies
#pytrends.build_payload(kw_list, timeframe = tf , geo='BR')

In [8]:
kw_list = movies.head()
kw_list

0      Velozes e furiosos 8
1           Liga da Justiça
2           A Bela e a Fera
3    Meu malvado favorito 3
4          Mulher-Maravilha
Name: título_brasileiro, dtype: object

In [9]:
for i in range(5):
    print(kw_list[i] + " --> " +getTimeFrame(i))

Velozes e furiosos 8 --> 2016-10-15 2017-04-13
Liga da Justiça --> 2017-05-20 2017-11-16
A Bela e a Fera --> 2016-09-17 2017-03-16
Meu malvado favorito 3 --> 2016-12-31 2017-06-29
Mulher-Maravilha --> 2016-07-10 2017-01-06

In [10]:
for i in range(5):
    print(kw_list[i])

Velozes e furiosos 8
Liga da Justiça
A Bela e a Fera
Meu malvado favorito 3
Mulher-Maravilha

In [11]:
lista_teste = ['Velozes e furiosos 8','Liga da Justiça','A Bela e a Fera','Meu malvado favorito 3','Mulher-Maravilha']

In [15]:
for i in range(5):
    lista_temp = [lista_teste[i]]
    print(lista_temp)

['Velozes e furiosos 8']
['Liga da Justiça']
['A Bela e a Fera']
['Meu malvado favorito 3']
['Mulher-Maravilha']

In [18]:
filmes = []
for i in range(5):
    lista_temp = [lista_teste[i]]
    pytrends.build_payload(lista_temp, timeframe = getTimeFrame(i), geo='BR')
    interest = pytrends.interest_over_time()
    filmes.append(interest.reset_index().drop(['date', 'isPartial'], axis=1).transpose())

In [26]:
df = pd.concat(filmes)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,171,172,173,174,175,176,177,178,179,180
Velozes e furiosos 8,3,3,1,3,2,2,2,2,3,3,...,15,18,23,28,33,42,40,44,60,100
Liga da Justiça,6,7,4,5,5,4,5,6,7,5,...,14,15,16,19,26,30,28,41,100,77
A Bela e a Fera,5,7,4,5,5,5,4,6,6,4,...,27,25,33,33,43,47,37,42,58,100
Meu malvado favorito 3,6,5,3,4,3,3,3,4,3,2,...,18,11,24,20,39,49,41,45,60,100
Mulher-Maravilha,0,0,25,25,0,36,0,35,0,0,...,57,0,0,0,0,27,54,63,100,34

In [27]:
df.reset_index(inplace=True)

In [30]:
df.rename({'index':'título_brasileiro'}, axis=1, inplace=True)

In [31]:
df.head()

,título_brasileiro,0,1,2,3,4,5,6,7,8,...,171,172,173,174,175,176,177,178,179,180
0,Velozes e furiosos 8,3,3,1,3,2,2,2,2,3,...,15,18,23,28,33,42,40,44,60,100
1,Liga da Justiça,6,7,4,5,5,4,5,6,7,...,14,15,16,19,26,30,28,41,100,77
2,A Bela e a Fera,5,7,4,5,5,5,4,6,6,...,27,25,33,33,43,47,37,42,58,100
3,Meu malvado favorito 3,6,5,3,4,3,3,3,4,3,...,18,11,24,20,39,49,41,45,60,100
4,Mulher-Maravilha,0,0,25,25,0,36,0,35,0,...,57,0,0,0,0,27,54,63,100,34

In [32]:
df_filmes = pd.merge(dataset, df, on='título_brasileiro')

In [34]:
df_filmes.to_csv('filmes_v1.csv', index=False)

In [50]:
interest = pytrends.interest_over_time()
interest.reset_index().drop('date', axis=1)

     Mulher-Maravilha  isPartial
0                   0      False
1                  25      False
2                  24      False
3                   0      False
4                   0      False
5                  53      False
6                   0      False
7                  34      False
8                   0      False
9                   0      False
10                  0      False
11                 25      False
12                 27      False
13                 34      False
14                 34      False
15                 49      False
16                 24      False
17                 37      False
18                 38      False
19                 25      False
20                 33      False
21                 50      False
22                 25      False
23                 49      False
24                 48      False
25                  0      False
26                  0      False
27                 34      False
28                 34      False
29                 50      False
..                ...        ...
151                25      False
152                 0      False
153                64      False
154                 0      False
155                 0      False
156                 0      False
157                45      False
158                 0      False
159                 0      False
160                 0      False
161                36      False
162                25      False
163                 0      False
164                 0      False
165                28      False
166                30      False
167                 0      False
168                44      False
169                42      False
170                 0      False
171                28      False
172                29      False
173                32      False
174                 0      False
175                 0      False
176                26      False
177                52      False
178                61      False
179                32      False
180                 0      False

[181 rows x 2 columns]

In [156]:
pytrends.interest_over_time()

            Veloses e furiosos 8  isPartial
date
2016-10-15                    12      False
2016-10-16                    12      False
2016-10-17                    18      False
2016-10-18                     0      False
2016-10-19                     9      False
2016-10-20                     0      False
2016-10-21                    10      False
2016-10-22                    13      False
2016-10-23                    13      False
2016-10-24                     9      False
2016-10-25                     9      False
2016-10-26                     9      False
2016-10-27                     9      False
2016-10-28                     0      False
2016-10-29                     0      False
2016-10-30                     0      False
2016-10-31                     9      False
2016-11-01                    10      False
2016-11-02                     0      False
2016-11-03                     9      False
2016-11-04                     0      False
2016-11-05                     0      False
2016-11-06                    12      False
2016-11-07                     0      False
2016-11-08                     0      False
2016-11-09                     0      False
2016-11-10                    10      False
2016-11-11                     0      False
2016-11-12                    13      False
2016-11-13                    13      False
...                          ...        ...
2017-03-15                    12      False
2017-03-16                    20      False
2017-03-17                    22      False
2017-03-18                    37      False
2017-03-19                    17      False
2017-03-20                    11      False
2017-03-21                    14      False
2017-03-22                     8      False
2017-03-23                     8      False
2017-03-24                    18      False
2017-03-25                    15      False
2017-03-26                    19      False
2017-03-27                     8      False
2017-03-28                    12      False
2017-03-29                    14      False
2017-03-30                    14      False
2017-03-31                    28      False
2017-04-01                    22      False
2017-04-02                    30      False
2017-04-03                    28      False
2017-04-04                    16      False
2017-04-05                    33      False
2017-04-06                    26      False
2017-04-07                    48      False
2017-04-08                    25      False
2017-04-09                    48      False
2017-04-10                    42      False
2017-04-11                    42      False
2017-04-12                    55      False
2017-04-13                   100      False

[181 rows x 2 columns]

In [9]:
movies_insterest_over_time = pytrends.interest_over_time()

In [20]:
movies_insterest_over_time.reset_index().drop('date', axis=1).transpose()

,0,1,2,3,4,5,6,7,8,9,...,171,172,173,174,175,176,177,178,179,180
Velozes e furiosos 8,2,1,1,1,1,0,1,1,1,2,...,8,10,13,13,16,21,19,21,29,50
Liga da Justiça,6,6,3,3,3,3,3,4,4,4,...,4,4,4,5,5,6,4,3,4,3
A Bela e a Fera,3,4,2,2,2,2,2,2,3,2,...,21,19,19,19,27,31,16,15,16,20
Meu malvado favorito 3,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,1,0,0,0,1
Mulher-Maravilha,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
isPartial,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False