In [1]:
import numpy as np
import pandas as pd
import datetime

In [36]:
dataset = pd.read_csv("grossing2017-2011.csv")

In [37]:
dataset = dataset.drop_duplicates(subset='título_brasileiro', keep="first")

In [38]:
dataset.count()

colocação            876
título_brasileiro    876
título_original      876
distribuidora        876
renda                876
publico              876
salas_abertura       876
estreia              876
dtype: int64

## Pytrends

In [39]:
from pytrends.request import TrendReq

In [40]:
pytrends = TrendReq(hl='en-US', tz=360) #CONECTANDO COM O GOOGLE

In [59]:
def sixMonthsEarlier(releaseDay):
    data = datetime.date.fromisoformat(releaseDay)
    sixMonthsAgo = datetime.timedelta(days=180)
    return str(data - sixMonthsAgo)

def getTimeFrame(i):
    to_tf = dataset.loc[i,'estreia']
    from_tf =  sixMonthsEarlier(to_tf)
    tf = str(from_tf +' '+ to_tf)
    tf = str(from_tf + " " + to_tf)
    return tf

In [60]:
for i in range(5):
    print(lista_teste[i] + " --> " +getTimeFrame(i))

Velozes e furiosos 8 --> 2016-10-15 2017-04-13
Liga da Justiça --> 2017-05-20 2017-11-16
A Bela e a Fera --> 2016-09-17 2017-03-16
Meu malvado favorito 3 --> 2016-12-31 2017-06-29
Mulher-Maravilha --> 2016-07-10 2017-01-06

In [61]:
lista_teste = ['Velozes e furiosos 8','Liga da Justiça','A Bela e a Fera','Meu malvado favorito 3','Mulher-Maravilha']

In [62]:
filmes = []
for i in range(5):
    lista_temp = [lista_teste[i]]
    pytrends.build_payload(lista_temp, timeframe = getTimeFrame(i), geo='BR')
    interest = pytrends.interest_over_time()
    filmes.append(interest.reset_index().drop(['date', 'isPartial'], axis=1).transpose())

In [63]:
df = pd.concat(filmes)
df.reset_index(inplace=True)
df.rename({'index':'título_brasileiro'}, axis=1, inplace=True)
df.head()

,título_brasileiro,0,1,2,3,4,5,6,7,8,...,171,172,173,174,175,176,177,178,179,180
0,Velozes e furiosos 8,3,3,1,2,2,2,2,2,3,...,16,18,25,28,33,45,39,46,62,100
1,Liga da Justiça,6,7,4,6,4,5,4,7,7,...,14,14,16,18,26,30,28,43,100,75
2,A Bela e a Fera,5,5,5,5,5,5,5,5,6,...,28,24,33,32,46,47,38,43,60,100
3,Meu malvado favorito 3,6,5,3,3,3,4,3,5,3,...,17,11,24,20,37,57,41,42,57,100
4,Mulher-Maravilha,50,0,36,0,0,77,48,50,0,...,41,63,0,0,0,58,64,88,70,0

In [64]:
df_filmes = pd.merge(dataset, df, on='título_brasileiro')

In [65]:
df_filmes.to_csv('filmes_v1.csv', index=False)

In [66]:
df_filmes.head()

,colocação,título_brasileiro,título_original,distribuidora,renda,publico,salas_abertura,estreia,0,1,...,171,172,173,174,175,176,177,178,179,180
0,1,Velozes e furiosos 8,The Fate of the Furious,Universal,133420000,8504737,1512,2017-04-13,3,3,...,16,18,25,28,33,45,39,46,62,100
1,2,Liga da Justiça,Justice league,Warner,131218000,8416544,1582,2017-11-16,6,7,...,14,14,16,18,26,30,28,43,100,75
2,3,A Bela e a Fera,Beauty and the Beast,Disney,130098000,8309801,1399,2017-03-16,5,5,...,28,24,33,32,46,47,38,43,60,100
3,4,Meu malvado favorito 3,Despicable me 3,Universal,126007000,8996130,1319,2017-06-29,6,5,...,17,11,24,20,37,57,41,42,57,100
4,5,Mulher-Maravilha,Wonder Woman,Warner,109700000,7053736,1287,2017-01-06,50,0,...,41,63,0,0,0,58,64,88,70,0